.performance-report-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.performance-report-title {
    color: #010183;
    font-size: 2rem;
    margin-bottom: 20px;
}

.date-filters {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.date-filters label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.date-filters input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.apply-filters-button {
    padding: 10px 20px;
    border: none;
    background-color: #F57224;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20px;
    align-self: end;
}

.apply-filters-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.report-table-container {
    width: 100%;
    overflow-x: auto;
}

.report-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 0.9rem;
}

.report-table th,
.report-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.report-table th {
    background-color: #f2f2f2;
}

.loading-message {
    text-align: center;
    font-size: 1.5rem;
    color: #010183;
}
