.product-feed-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.product-feed-title {
    color: #010183;
    font-size: 2rem;
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    margin-bottom: 20px;
}

.search-bar select,
.search-bar input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    flex-grow: 1;
}

.product-feed-content {
    display: flex;
    flex-direction: column;
}

.product-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: calc(100% - 40px); /* Adjusted for smaller screens */
    max-width: 300px; /* Adjusted for smaller screens */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 600px) {
    .product-card {
        width: calc(50% - 40px); /* Adjusted for medium screens */
    }
}

@media (min-width: 900px) {
    .product-card {
        width: calc(33.333% - 40px); /* Adjusted for larger screens */
    }
}

.product-image {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 20px;
    cursor: pointer;
}

.product-info {
    text-align: left;
    font-size: .85rem;
    width: 100%;
}

.product-name {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.copy-link-button {
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.copy-link-button:hover {
    background-color: #45a049;
}

.link-section {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.link-input {
    flex-grow: 1;
    padding: 8px;
    font-size: 0.85rem;
    margin-right: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.link-input:read-only {
    background-color: #fff;
    cursor: default;
}

.pagination-container {
    margin-top: 10px;
    text-align: center;
}

.pagination-button {
    padding: 8px 12px;
    margin-right: 5px;
    background-color: #F57224;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.pagination-button:hover {
    background-color: #f549;
}

.pagination-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination-button.active {
    background-color: #f549;
}

/* Popup styles */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.popup-content p {
    word-break: break-all;
    margin-bottom: 10px;
}

.popup-content .enlarged-image {
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
    margin-bottom: 10px;
}

.popup-content button {
    padding: 10px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.popup-content button:hover {
    background-color: #45a049;
}
