.product-feed-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.product-feed-title {
    color: #010183;
    font-size: 2rem;
    margin-bottom: 20px;
}

.product-feed-content {
    display: flex;
    flex-direction: column;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.product-table th,
.product-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.product-table th {
    background-color: #f2f2f2;
}

.date-filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.date-filters label {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-weight: bold;
}

.date-filters input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.apply-filters-button {
    padding: 10px 20px;
    border: none;
    background-color: #F57224;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

.apply-filters-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.loading-message,
.empty-message {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
}
